@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-White: hsl(0, 0%, 100%);
    --clr-Slate300: hsl(212, 45%, 89%);
    --clr-Slate500: hsl(216, 15%, 48%);
    --clr-Slate900: hsl(218, 44%, 22%);

    --fs-body: 15px;
    --fs-body-mobil: 16px;
}

body {
    font-size: var(--fs-body);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

main {
    background-color: var(--clr-Slate300);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: var(--clr-White);
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 290px;
    padding-top: 20px;
    border-radius: 15px;
}

.img-qr {
    width: 89%;
    border-radius: 10px;
}

.title {
    color: var(--clr-Slate900);
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 255px;
}

.description {
    font-size: .95em;
    font-weight: inherit;
    color: var(--clr-Slate500);
    margin-top: 0;
    margin-bottom: 40px;
    width: 245px;
}

@media (min-width: 96rem) {
    body {
        font-size: var(--fs-body-mobil);
        background-color: var(--clr-Slate300);
    }
}

/* 
.attribution {
    font-size: 1.36rem;
    text-align: center;
    display: block;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */